.idea
report/*.aux
report/report.bbl
report/report.blg
report/report.log
report/report.out
report/report.pdf
proposal/*.aux
proposal/proposal.bbl
proposal/proposal.blg
proposal/proposal.log
proposal/proposal.out
proposal/proposal.pdf
**/venv
code/data
proposal_draft_fred/proposal_draft_fred.iml
proposal_draft_fred/researchProposal.aux
proposal_draft_fred/researchProposal.aux
proposal_draft_fred/researchProposal.aux
proposal_draft_fred/researchProposal.bbl
proposal/proposal.iml
proposal/researchProposal.aux
proposal/researchProposal.bbl
proposal/researchProposal.bcf
proposal/researchProposal.blg
proposal/researchProposal.log
proposal/researchProposal.out
proposal/researchProposal.pdf
proposal/researchProposal.run.xml
proposal/researchProposal.synctex.gz
